In [2]:
#Question 1
#list A and B 
A = [1,2,3,4,5,6]
B = [13,21,34]

#extending A and B
A.extend(B)
A_B = A
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [11]:
#Question 2
#How to create an identity matrix
import numpy as np
I = np.identity(3)
I

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [10]:
#Question 3
#  ANSWER IS Waste, because after analysis, waste appeared the least.

In [19]:
#Question 4a
import pandas as pd
df = pd.read_csv(r'C:\Users\AMARA METU\Desktop\fuel_ferc1.csv')
df
df.std()
#std of fuel_mmbtu_per_unit = 10.60

utility_id_ferc1                7.417835e+01
report_year                     7.025483e+00
fuel_qty_burned                 9.118004e+06
fuel_mmbtu_per_unit             1.060022e+01
fuel_cost_per_unit_burned       2.854490e+03
fuel_cost_per_unit_delivered    6.877593e+04
fuel_cost_per_mmbtu             2.091541e+03
dtype: float64

In [8]:
#Question 4b
df.quantile(0.75)
#75 percentile of fuel_mmbtu_per_unit = 17.01

utility_id_ferc1                    176.000
report_year                        2012.000
fuel_qty_burned                 1424034.000
fuel_mmbtu_per_unit                  17.006
fuel_cost_per_unit_burned            47.113
fuel_cost_per_unit_delivered         42.137
fuel_cost_per_mmbtu                   7.745
Name: 0.75, dtype: float64

In [13]:
#Question 5a
df.skew()
# skewness of fuel_qty_burned = 15.85

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [14]:
#Question 5b
df.kurtosis()
# kurtosis of fuel_qty_burned  = 651.37

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

In [38]:
#Question 6a
import pandas as pd
df = pd.read_csv(r'C:\Users\AMARA METU\Desktop\fuel_ferc1.csv')
df
df.columns[df.isnull().any()]

#ANSWER =  Feature: Fuel_unit

Index(['fuel_unit'], dtype='object')

In [39]:
#Question 6b
df['fuel_unit'].isnull().sum()
#ANSWER =   Total: 180

180

In [40]:
#Question 6c
180/29523*100
#Answer = percent = 180/29523 * 100% = 0.61%

0.609694136774718

In [37]:
#Question 7
import pandas as pd
df = pd.read_csv(r'C:\Users\AMARA METU\Desktop\fuel_ferc1.csv')
df
#ANSWER = Categorical and mode imputation

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680

In [61]:
import matplotlib.pyplot as plt

#Question 8
df.corr()
B = df.corr()
print(B)

#ANSWER: fuel_mmbtu_per_unit and   fuel_cost_per_unit_burned

                              utility_id_ferc1  report_year  fuel_qty_burned  \
utility_id_ferc1                      1.000000     0.093323        -0.057447
report_year                           0.093323     1.000000         0.012952
fuel_qty_burned                      -0.057447     0.012952         1.000000
fuel_mmbtu_per_unit                  -0.066946    -0.110853        -0.080946
fuel_cost_per_unit_burned            -0.037863     0.013599        -0.018535
fuel_cost_per_unit_delivered         -0.016414    -0.014043        -0.003551
fuel_cost_per_mmbtu                   0.006122     0.010261        -0.001896

                              fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
utility_id_ferc1                        -0.066946                  -0.037863
report_year                             -0.110853                   0.013599
fuel_qty_burned                         -0.080946                  -0.018535
fuel_mmbtu_per_unit                      1.000000                  -0.010034
fuel_cost_per_unit_burned               -0.010034                   1.000000
fuel_cost_per_unit_delivered            -0.009039                   0.011007
fuel_cost_per_mmbtu                     -0.005884                  -0.000437

                              fuel_cost_per_unit_delivered  \
utility_id_ferc1                                 -0.016414
report_year                                      -0.014043
fuel_qty_burned                                  -0.003551
fuel_mmbtu_per_unit                              -0.009039
fuel_cost_per_unit_burned                         0.011007
fuel_cost_per_unit_delivered                      1.000000
fuel_cost_per_mmbtu                              -0.000109

                              fuel_cost_per_mmbtu
utility_id_ferc1                         0.006122
report_year                              0.010261
fuel_qty_burned                         -0.001896
fuel_mmbtu_per_unit                     -0.005884
fuel_cost_per_unit_burned               -0.000437
fuel_cost_per_unit_delivered            -0.000109
fuel_cost_per_mmbtu                      1.000000

In [ ]:
#QUESTION 9
#ANSWER: -18%

In [64]:
#QUESTION 10
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv(r'C:\Users\AMARA METU\Desktop\fuel_ferc1.csv')
df
#ANSWER: 2018

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570
...,...,...,...,...,...,...,...,...,...,...,...
29518,f1_fuel_2018_12_12_0_13,12,2018,neil simpson ct #1,gas,mcf,18799.0,1.059,4.78,4.78,9.030
29519,f1_fuel_2018_12_12_1_1,12,2018,cheyenne prairie 58%,gas,mcf,806730.0,1.050,3.65,3.65,6.950
29520,f1_fuel_2018_12_12_1_10,12,2018,lange ct facility,gas,mcf,104554.0,1.060,4.77,4.77,8.990
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.108,3.06,14.76,1.110
29522,f1_fuel_2018_12_12_1_14,12,2018,wygen 3 bhp 52%,gas,mcf,17853.0,1.059,0.00,0.00,11.680